<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true"
               xmlns="http://logging.apache.org/log4j/2.0/config"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://logging.apache.org/log4j/2.0/config
           https://raw.githubusercontent.com/apache/logging-log4j2/3.0.0-beta2/log4j-core/src/main/resources/Log4j-config.xsd">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{dd.MM.yyyy HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
        <File name="LogToFile" fileName="${sys:structurizr.dataDirectory}/logs/structurizr.log">
            <PatternLayout pattern="[%-5level] %d{dd.MM.yyyy HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.structurizr" level="info" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToFile"/>
        </Logger>
        <Logger name="org.springframework.security" level="warn" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToFile"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToFile"/>
        </Root>
    </Loggers>
</Configuration>