.structurizr
docs/structurizr.properties
docs/workspace.json

.gradle/*
build/*
structurizr-onpremises/build/*
structurizr-onpremises-plugin/build/*
.idea/*
**/structurizr.log

structurizr-onpremises/src/main/webapp/static/js/*
structurizr-onpremises/src/main/webapp/static/bootstrap-icons/*
structurizr-onpremises/src/main/webapp/static/css/*
structurizr-onpremises/src/main/webapp/static/html/*
structurizr-onpremises/src/main/webapp/static/img/*

structurizr-onpremises/src/main/webapp/WEB-INF/fragments/graphviz.jspf
structurizr-onpremises/src/main/webapp/WEB-INF/fragments/progress-message.jspf
structurizr-onpremises/src/main/webapp/WEB-INF/fragments/quick-navigation.jspf
structurizr-onpremises/src/main/webapp/WEB-INF/fragments/tooltip.jspf
structurizr-onpremises/src/main/webapp/WEB-INF/fragments/diagrams/*
!structurizr-onpremises/src/main/webapp/WEB-INF/fragments/diagrams/publish.jspf
structurizr-onpremises/src/main/webapp/WEB-INF/fragments/decisions/*
structurizr-onpremises/src/main/webapp/WEB-INF/fragments/dsl/*
structurizr-onpremises/src/main/webapp/WEB-INF/fragments/workspace/load-via-inline.jspf
structurizr-onpremises/src/main/webapp/WEB-INF/fragments/workspace/load-via-api.jspf
structurizr-onpremises/src/main/webapp/WEB-INF/fragments/workspace/javascript.jspf
structurizr-onpremises/src/main/webapp/WEB-INF/fragments/workspace/client-side-encryption-passphrase-modal.jspf

structurizr-onpremises/src/main/webapp/WEB-INF/views/404.jsp
structurizr-onpremises/src/main/webapp/WEB-INF/views/500.jsp
structurizr-onpremises/src/main/webapp/WEB-INF/views/error.jsp
structurizr-onpremises/src/main/webapp/WEB-INF/views/diagrams.jsp
structurizr-onpremises/src/main/webapp/WEB-INF/views/decisions.jsp
structurizr-onpremises/src/main/webapp/WEB-INF/views/dependencies.jsp
structurizr-onpremises/src/main/webapp/WEB-INF/views/documentation.jsp
structurizr-onpremises/src/main/webapp/WEB-INF/views/explore.jsp
structurizr-onpremises/src/main/webapp/WEB-INF/views/graph.jsp
structurizr-onpremises/src/main/webapp/WEB-INF/views/inspections.jsp
structurizr-onpremises/src/main/webapp/WEB-INF/views/model.jsp
structurizr-onpremises/src/main/webapp/WEB-INF/views/tree.jsp
structurizr-onpremises/src/main/webapp/WEB-INF/views/review-create.jsp
structurizr-onpremises/src/main/webapp/WEB-INF/views/review.jsp

structurizr-onpremises/src/main/java/com/structurizr/util/DslTemplate.java