.structurizr
docs/structurizr.properties
docs/workspace.json

.gradle/*
build/*
.idea/*

src/main/webapp/static/js/*
!src/main/webapp/static/js/structurizr-lock.js
src/main/webapp/static/bootstrap-icons/*
src/main/webapp/static/css/*
src/main/webapp/static/html/*
src/main/webapp/static/img/*

src/main/webapp/WEB-INF/fragments/progress-message.jspf
src/main/webapp/WEB-INF/fragments/quick-navigation.jspf
src/main/webapp/WEB-INF/fragments/tooltip.jspf
src/main/webapp/WEB-INF/fragments/diagrams/*
src/main/webapp/WEB-INF/fragments/decisions/*
src/main/webapp/WEB-INF/fragments/dsl/*
src/main/webapp/WEB-INF/fragments/workspace/load-via-inline.jspf
src/main/webapp/WEB-INF/fragments/workspace/load-via-api.jspf
src/main/webapp/WEB-INF/fragments/workspace/javascript.jspf
src/main/webapp/WEB-INF/fragments/workspace/client-side-encryption-passphrase-modal.jspf

src/main/webapp/WEB-INF/views/404.jsp
src/main/webapp/WEB-INF/views/500.jsp
src/main/webapp/WEB-INF/views/error.jsp
src/main/webapp/WEB-INF/views/diagrams.jsp
src/main/webapp/WEB-INF/views/decisions.jsp
src/main/webapp/WEB-INF/views/documentation.jsp
src/main/webapp/WEB-INF/views/graph.jsp
src/main/webapp/WEB-INF/views/tree.jsp
src/main/webapp/WEB-INF/views/review-create.jsp
src/main/webapp/WEB-INF/views/review.jsp