<?xml version="1.0" encoding="UTF-8" ?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
       xmlns:beans="http://www.springframework.org/schema/beans"

       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
              http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!--
        TODO
        This file represents the configuration for SAML integration, and it requires the following to be configured:

        1. The "structurizr.url" property in the structurizr.properties file - this should be set to the URL where Structurizr is installed (e.g. http://localhost:8080).
        2. The "structurizr.saml.entityId" property in the structurizr.properties file - this should be set to the SAML Entity ID, which is provided by your Identity Provider.
        3. A copy of your Identity Provider's SAML metadata should be saved to a file called "saml-idp-metadata.xml" in your Structurizr data directory.
    -->

    <!--
    Place your SAML configuration in the file below.
    -->
    <beans:import resource="file:${structurizr.dataDirectory}/saml.xml" />

</beans:beans>